build/bin
build/windows/installer/wails_tools.nsh
build/windows/installer/tmp/
frontend/dist
node_modules
frontend/node_modules
.idea
.vscode
.gocache
mpv-watch-later/
*.log
*.exe
*.exe~
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.test
coverage.out
